<h2>Add a person</h2>
<!-- TODO(day-3) reactive forms -->

<form [formGroup]="personForm" (ngSubmit)="addPerson()">
    <div>
        <label>First Name</label>
        <input type="text" formControlName="firstName">
        <p *ngIf="firstName.touched && firstName.hasError('required')">
            First name is required.
        </p>
    </div>

    <div>    
        <label>Last Name</label>
        <input type="text" formControlName="lastName">
        <p *ngIf="lastName.touched && lastName.hasError('required')">
            Last name is required.
        </p>
    </div>

    <div>
        <label>Email</label>
        <input type="text" formControlName="email">
        <p *ngIf="email.touched && email.hasError('required')">
            Email is required.
        </p>
        <p *ngIf="email.touched && email.hasError('email')">
            Email is not valid.
        </p>
    </div>
    
    <div>
        <label>Phone</label>
        <input type="text" formControlName="phone">
        <p *ngIf="phone.touched && phone.hasError('phone')">
            Phone is not valid.
        </p>
    </div>

    <button type="submit">Add Person</button>
</form>