<h2>Add a person</h2>
<!-- TODO(day-3) reactive forms -->

<form [formGroup]="personForm" (ngSubmit)="addPerson()">
    <label>First Name</label>
    <input type="text" formControlName="firstName"> 

    <label>Last Name</label>
    <input type="text" formControlName="lastName">

    <label>Email</label>
    <input type="text" formControlName="email">
    
    <label>Phone</label>
    <input type="text" formControlName="phone">

    <button type="submit">Add Person</button>
</form>

<!-- TODO(day-3): add form validation -->